@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Letiltva";
}

<hgroup>
    <h1 class="text-danger">Letiltva</h1>
    <h2 class="text-danger">Ez a felhasználó le lett tiltva. Kérlek próbálkozz újra később.</h2>
</hgroup>
