
@{
    ViewBag.Title = "Adatvédelmi nyilatkozat";
}

<h1> Adatvédelmi nyilatkozat </h1>

<p> Az alkalmazás semilyen felhasználóval kapcsolatos információt nem kap, és nem is tárol használat során. Az internet kapcsolat csupán az adatok letöltésére szolgál. </p>

