#header {
    clear: both;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
}

#logo {
    float: left;
    clear: left;
    margin-left: 4%;
    margin-top: 1%;
}

#logo img{
    width: 50%;
}

#login {
    float: right;
    clear: right;
    vertical-align: top;
    margin-top: 1%;
    margin-right: 5%;
}

#menu{
    float: left;
    clear: both;
    width: 100%;
    margin-left: 0px;
}

    #menu ul{
        float: left;
        width: 100%;
        margin-left: 0px;
        list-style-type: none;
    }

        #menu li{
            float: left;
            display: table;
            background-color: #8cc63f;
            height: 50px;
            width: 150px;
            margin-left: 1%;
            margin-right: 1%;
            margin-top: 1%;
        }

            #menu li:hover {
                background-color: #25aae1;
            }

                #menu li a {
                    color: white;
                    display: table-cell;
                    text-decoration: none;
                    font-size: x-large;
                    font-weight: bold;
                    vertical-align: bottom;
                }

#body {
    float: left;
    clear: both;
    width: 100%;
    height: auto;
    vertical-align:top;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: #25aae1;
}

#innerbody {
    margin-left: 3%;
    margin-right: 5%;
}

h1, h2 {
    color: white;
    font-weight: bold;
    margin: 1%;
}

a {
    color: #8cc63f;
}

.text {
    margin: 2%;
}

p {
    color: white;
    font-size: medium;
}

#projects {
    width: 100%;
}

    #projects ul {
        list-style-type: none;
        float: left;
        width: 100%;
    }

        #projects ul li {
            float: left;
            display: table;
            margin: 5px;
            background-color: #8cc63f;
            padding: 5px;
        }

            #projects ul li:hover {
                background-color: white;
            }

                #projects ul li:hover #imagename {
                    color: #8cc63f;
                }

#imagename {
    color: white;
    font-weight: bold;
}

footer {
    float: left;
    width: 100%;
    background-color: #25aae1;
    margin-top: 1%;
    padding-left: 5%;
}

.info {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 2%;
}

.infotext {
    float: left;
    clear: both;
    width: 100%;
    margin-left: 2%;
}

strong {
    color: white;
}

.multitext {
    float: left;
    clear: both;
    margin-left: 2%;
}

input {
    float: left;
    clear: right;
    margin-top: 1%;
    margin-bottom: 1%;
}

iframe {
    float: left;
    clear: both;
    margin-left: 10%;
    margin-top: 2%;
}

label {
    float: left;
    clear: left;
    color: white;
}

#bigtext {
    font-size: xx-large;
}