@{
    ViewBag.Title = "Kapcsolat";
}

<h1>@ViewBag.Title</h1>

<div class="info">
    <h2> Kizman Tamás </h2>
    <div class="infotext">
        <p> Ügyvezető igazgató </p>
        <p> <a href="mailto:kizman.tamas@softit.hu">kizman.tamas@softit.hu</a></p>
    </div>
</div>

<div class="info">
    <h2> Simándi Gergely </h2>
    <div class="infotext">
        <p> Vezető fejlesztő </p>
        <p> <a href="mailto:simandi.gergely@softit.hu">simandi.gergely@softit.hu</a></p>
    </div>
</div>

<div class="info">
    <address class="infotext">
        <strong>Segítség kérés, hiba bejelentés:</strong>   <a href="mailto:support@softit.hu">support@softit.hu</a><br />
        <strong>Információ:</strong> <a href="mailto:info@softit.hu">info@softit.hu</a>
    </address>
</div>