@model IEnumerable<SoftITMvc.Models.ShortProjectViewModel>

@{
    ViewBag.Title = "Kezdőlap";
}

<div>
    <p> Ez itt egy nagyon durva leírás arról, hogy mit csinálunk és kik vagyunk.</p>
</div>

<div>
    <ul>
        @foreach (var project in Model)
        { 
            <li>
                <img src="@project.Logo" width="100" height="100" />
                @Html.DisplayFor((x) => project.Name)
            </li>
        }
    </ul>
</div>
