@model IEnumerable<SoftITMvc.Models.ShortProjectVeiwModel>

@{
    ViewBag.Title = "Kezdőlap";
}

<ul>
    @foreach (var project in Model) 
    { 
        <li>
            @Html.DisplayFor(modelItem => project.Name)
        </li>
    }
</ul>
